
* {
    box-sizing: border-box;
}
header{
    background-color: #9C9DA1;
    /* display: grid;
    place-items:center; */
}
body{
    background-color: white;
}

nav{
    background-color:#CC1D30;
    color:white;
}

nav a{
    color:white;
}

nav a:hover {
    color:navy;
}

section{
    background-color: #9C9DA1;
    width:100%;
    padding:16px;
    border-radius:16px;
}

img {
    padding: 10px;
    width: 140px;
    height: 140px;
}

footer,header,nav,main,section{
    display: grid;
    place-items: center;
}