@media screen and (min-width:800px){
    
    nav {
        display: flex;
        gap:10px;
        justify-content: center;
        padding: 25px;
    }

    main{
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;

    }
    /* used w3schools for help */
    .hero-image{
        /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5,)); */

        height:50%;
        background-position: center;
        background-size: cover;
        position: relative;
        
    
    }

    .secondcard{
        grid-column: 2/3;
        grid-row: 2/3;
    }

   .firstcard{
        grid-column:1/2;
        grid-row:2/3;
   }
}